@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$color_secondary: rgb(221, 2, 104);
$color_primary: rgb(14, 28, 34);
$color_light_white: rgba(255, 255, 255, 0.692);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;

  background-color: $color_primary;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  h1 {
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    text-align: center;
  }
  p {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.897);
  }
  form {
    margin-top: 10vh;
    margin-bottom: 5vh;

    display: flex;
    gap: 0.5rem;

    input,
    button {
      border-radius: 0.2rem;

      padding: 0.7rem;
      outline: none;
      border: none;
    }
    button {
      cursor: pointer;
      color: white;
      background: $color_secondary;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $color_primary;
        background: white;
      }
    }

    input {
      transition: all 0.2s ease-in-out;

      &:focus {
        background: darken($color_light_white, 5);
      }
      width: 15rem;
      &::placeholder {
        color: rgba(0, 0, 0, 0.603);
      }
      background: $color_light_white;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
      // align-items: center;
      // justify-content: center;
      input {
        width: 100%;
      }
      & > * {
        width: 85vw;
      }
    }
  }
  h3 {
    margin-top: 5vh;
    color: white;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  h2 {
    background: rgb(255, 255, 255);
    padding: 0.5rem 2rem;

    text-align: center;
    color: $color_secondary;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.205);
  }
  table {
    width: 90vw;
    border: none;
    tr {
      th,
      td {
        border-radius: 0.2rem;

        padding: 0.5rem;
      }
      th {
        color: rgba(0, 0, 0, 0.698);
        background-color: rgba(255, 255, 255, 0.883);
      }
      td {
        background-color: $color_light_white;
      }
    }
  }
}
footer#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgb(255, 255, 255);
  .title_secondary {
    color: $color_primary;
    margin: 0;
    padding: 0;
    text-transform: unset;
    font-size: 1.5rem;
  }
  @media screen and (max-width: 700px) {
    text-align: center;
  }
  ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    gap: 3rem;
    justify-content: center;

    li {
      a {
        img {
          width: 2rem;
          height: 2rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        // .twitter
        // {
        //     background: url("../img/icons/twitter.svg");
        // }
        // .linkedin
        // {

        // }
        // .github
        // {

        // }
        // .codepen
        // {

        // }
      }
    }
  }
}
